@charset "UTF-8";

@import url('https://fonts.googleapis.com/css?family=Montserrat:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i');
@import url('https://fonts.googleapis.com/css?family=Nunito Sans:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i');

/*--------------------------------------------------------------
# FlexBox
--------------------------------------------------------------*/

section#serviceFlexBox-section {
  width: 80%;
  margin: 30px auto;
  font-family: sans-serif;
  text-align: center;
  font-size: 1em;

}
div#serviceFlexBox-div {
  display: flex;
  flex-wrap: wrap;
}
 a.serviceFlexBox-a {
  display: inline-block;
  margin-bottom: 8px;
  width: calc(50% - 4px);
  margin-right: 8px;
  text-decoration: none;
  color: black;
 }
 
 a.serviceFlexBox-a:nth-of-type(2n) {
    margin-right: 0;
  }
  @media screen and (min-width: 50em) {
    a.serviceFlexBox-a {
      width: calc(50% - 6px);
    }
    
  }
  
  a.serviceFlexBox-a:hover img {
    transform: scale(1.15);
  }
  
  figure {
    margin: 0;
    overflow: hidden;
  }
  
  figcaption {
    margin-top: 15px;
  }
  
  img.serviceFlexBox-img {
    border: none;
    max-width: 100%;
    height: auto;
    display: block;
    background: #ccc;
    transition: transform .2s ease-in-out;
  }


  .week {
    display: flex;
    height: 80px;
  }
  
  .day {
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 0;
    color: #777;
    padding: 5px;
    background-color: transparentize(white, 0.30);
    box-shadow: 
      -1px -1px #777, 
      inset -1px -1px 0 0 #777;
  }
  .day:hover {
    background-color: #f01216;
    color:white;
    font-weight: bold;
    font-size: 1.2em;
  }
  .week:first-of-type .day:first-of-type {
    margin-left: 42.85714%;
  }
  
  .week:last-of-type .day:last-of-type {
    margin-right: 14.285%;
  }
  .month {
    max-width: 560px;
    margin: 20px auto;
    height: 100%;
  }
  
  section#appointment-flexBox {
    background: linear-gradient(top, #777, #f01216);
    background-attachment: fixed;
  }
  h4.flex-heading{
    display: flex;
    justify-content: center;
  }
  .calender-side {
    flex: 30%;
    background-color: #555;
    padding: 0px;
  }
  .calender-main {
      flex: 70%;
      background-color: #f1f1f1;
      padding: 20px;
  }
/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

a {
  background-color: transparent;
}
img {
  border-style: none;
}


/*--------------------------------------------------------------
# Typography
--------------------------------------------------------------*/
body,
button,
input,
textarea {
  color: #6d6d6d;
  font-family: "Nunito Sans", sans-serif;
  font-size: 16px;
  line-height: 1.875;
  font-weight: 400;
  -ms-word-wrap: break-word;
  word-wrap: break-word;
  box-sizing: border-box;
}
h1, h2, h3, h4, h5, h6 {
  font-family: "Montserrat", sans-serif;
  font-weight: 800;
  line-height: 1.2;
  margin: 0 0 20px;
  color: #1b1d21;
  font-weight: bold;
}

p {
  margin: 0 0 20px;
}

/*--------------------------------------------------------------
# Button
--------------------------------------------------------------*/
.btn {
  transition: all 0.3s linear;
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  -ms-transition: all 0.3s linear;
  font-family: "Nunito Sans", sans-serif;
  font-size: 14px;
  padding: 14px 30px 14px 30px;
  line-height: 1.42857143;
  display: inline-block;
  margin-bottom: 0;
  text-decoration: none;
  text-transform: uppercase;
  white-space: nowrap;
  vertical-align: middle;
  font-weight: bold;
  text-align: center;
  background: #f01216;
  cursor: pointer;
  border: 1px solid transparent;
  color: #fff;
  outline: none;
}
.btn:visited {
  color: #fff;
}
.btn:hover, .btn:focus {
  background: #333;
  color: #fff;
}

/*--------------------------------------------------------------
#Form
--------------------------------------------------------------*/
input,
textarea {
  color: #b5b5b5;
  border: none;
  background: #f6f6f6;
  padding: 10px 20px;
  box-sizing: border-box;
  outline: none;
}
input:focus,
textarea:focus {
  color: #000;
}


textarea {
  width: 100%;
  height: 150px;
  vertical-align: top;
}


/*--------------------------------------------------------------
## Links
--------------------------------------------------------------*/
a {
  transition: all 0.3s linear;
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  -ms-transition: all 0.3s linear;
  color: #000;
  text-decoration: none;
}
a:visited {
  color: #000;
}
a:hover, a:focus, a:active {
  color: #f01216;
  text-decoration: none;
}
a:focus {
  outline: 0;
}
a:hover, a:active {
  outline: 0;
}

/*--------------------------------------------------------------
## Top Bar
--------------------------------------------------------------*/
.header-topbar {
  padding: 7px 0px;
  border-bottom: 1px solid transparent;
  background: #f01216;
  color: #fff;
  font-size: 14px;
  font-weight: 600;
}
.header-topbar a {
  color: #fff;
  transition: all 0.3s linear;
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  -ms-transition: all 0.3s linear;
}
.header-topbar a:hover {
  color: #000;
}

.social-list {
  list-style: none;
  padding: 0px;
  margin: 0px;
  margin-left: 25px;
}
.social-list li {
  display: inline-block;
  margin: 0px 8px;
}

.social-list li a {
  display: inline-block;
  padding: 0px 3px;
}
.social-list li a i {
  font-size: 12px;
  font-weight: 400;
}

.topbar-info {
  list-style: none;
  padding: 0px;
  margin: 0px;
  float: left;
}
.topbar-info li {
  padding: 0px 20px;
  float: left;
}
.topbar-info li i {
  display: inline-block;
  vertical-align: middle;
  font-size: 13px;
  color: #fff;
  margin-right: 7px;
  line-height: 1;
}

.style {
  padding: 0;
  line-height: 40px;
}
.style .social-list {
  float: left;
  margin-left: 0;
}
.style .social-list li {
  margin: 0;
}
.style .social-list li a {
  display: block;
  padding: 0 14px;
  border-left: 1px solid rgba(255, 255, 255, 0.2);
}

.style .topbar-info {
  float: right;
  margin-left: 20px;
}
.style .topbar-info li {
  padding: 0 20px;
  border-left: 1px solid rgba(255, 255, 255, 0.2);
}

@media only screen and (max-width: 1199px) {
  .extra-text {
    display: none;
  }

  .social-list {
    margin-left: 0;
  }
}

@media only screen and (max-width: 1024px) {
  .mobile-topbar {
    line-height: 1.875;
    padding: 7px 0;
  }
  .mobile-topbar.header-topbar {
    display: block;
  }
  .mobile-topbar .social-list {
    float: none;
    clear: both;
    padding-top: 2px;
  }
  .mobile-topbar .social-list li a {
    border: none !important;
    padding: 0;
  }
  .mobile-topbar .topbar-info {
    margin-left: 0;
    float: none;
  }
  .mobile-topbar .topbar-info li {
    border: none !important;
    padding-left: 0;
  }

  .style .social-list li {
    margin: 0 8px;
  }
}
@media only screen and (max-width: 600px) {
  .topbar-info li {
    float: none;
    padding-left: 0;
  }
}
/*--------------------------------------------------------------
## Logo
--------------------------------------------------------------*/
#site-logo {
  min-width: 145px;
  padding: 30px 0;
  display: inline-flex;
  vertical-align: middle;
  align-items: center;
  justify-content: center;
  line-height: 1;
}
#site-logo img {
  width: 145px;
}
#site-logo img.logo-static {
  display: block;
}
#site-logo img.logo-scroll {
  display: none;
}

.is-stuck #site-logo img.logo-static {
  display: none;
}
.is-stuck #site-logo img.logo-scroll {
  display: block;
}

/*--------------------------------------------------------------
## Menus
--------------------------------------------------------------*/
.main-navigation ul {
  list-style: none;
  padding-left: 0;
}

.site-header {
  background: #fff;
  border-bottom: 1px solid rgba(20, 29, 56, 0.15);
  position: relative;
  z-index: 10;
}

.mainbar-container {
  display: flex;
  flex-flow: row wrap;
  align-items: stretch;
}

.mainbar {
  display: flex;
  flex-flow: column wrap;
  flex: 1 auto;
}

.main-header .mainbar-row {
  display: flex;
  flex-wrap: nowrap;
  align-items: stretch;
  flex: 1 auto;
}

.mainbar-row > [class^=col] {
  display: flex;
  align-items: stretch;
  position: static;
}

.mainbar-row .col {
  flex-basis: 0;
  flex-grow: 0.65;
  max-width: 100%;
  width: 100%;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}

.mainbar-row > [class^=col] {
  flex-flow: row nowrap;
}
.mainbar-row > [class^=col].text-left {
  justify-content: flex-start;
}
.mainbar-row > [class^=col].text-center {
  justify-content: center;
}
.mainbar-row > [class^=col].text-right {
  justify-content: flex-end;
}

.main-header .row > div:empty {
  display: none;
}

.row {
  margin-right: -15px;
  margin-left: -15px;
}

.col:before {
  display: inline-flex;
}

.main-header .row .col-auto {
  flex: 0 0 auto;
  width: auto;
  max-width: none;
}

.header-module {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}

/* Main Menu */
.main-navigation {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  height: 100%;
  width: auto;
}

.main-navigation > ul {
  position: relative;
  display: flex;
  width: 100%;
  vertical-align: middle;
  height: 100%;
}

.main-navigation ul {
  font-weight: bold;
  list-style: none;
  margin: 0px 0px;
  padding: 0px 0px;
}

.main-navigation > ul > li {
  margin: 0px 20px;
  padding: 0px 0px;
  float: left;
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  height: 100%;
}

.main-navigation > ul > li:before {
  position: absolute;
  height: 3px;
  width: 0;
  bottom: -1px;
  right: 0;
  background: #000;
  content: "";
  display: block;
  transition: all 0.3s linear;
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  -ms-transition: all 0.3s linear;
}

.main-navigation > ul > li:hover:before,
.main-navigation > ul > li.current-menu-item:before {
  left: 0;
  right: auto;
  width: 100%;
}

.main-navigation ul ul {
  float: none;
  margin: 0px 0px;
  padding: 0px 0px;
  background-color: #fff;
  box-shadow: 15px 15px 38px 0px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 15px 15px 38px 0px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 15px 15px 38px 0px rgba(0, 0, 0, 0.1);
}

.main-navigation ul > li > a {
  display: inline-block;
  padding: 32px 0px;
  line-height: 35px;
  text-decoration: none;
  text-align: center;
  outline: none;
  color: #1a1b1e;
  white-space: nowrap;
  -webkit-transition: all 0.2s ease-out 0s;
  -moz-transition: all 0.2s ease-out 0s;
  -o-transition: all 0.2s ease-out 0s;
  transition: all 0.2s ease-out 0s;
}
.main-navigation ul > li > a:hover {
  color: #f01216;
}


.main-navigation ul li li {
  display: block;
  position: relative;
  padding: 0px 40px;
}

.main-navigation ul li li a {
  font-size: 14px;
  line-height: 30px;
  font-weight: bold;
  color: #1a1b1e;
  text-align: left;
  display: block;
  padding: 5px 0px 5px 0px;
  position: relative;
  text-decoration: none;
  outline: none;
  text-transform: uppercase;
  transition: all 0.3s linear;
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  -ms-transition: all 0.3s linear;
}

.main-navigation ul li li a:before {
  position: absolute;
  content: "//";
  top: 50%;
  left: 0;
  color: #000;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  transform: translateY(-50%);
  transition: all 0.3s linear;
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  -ms-transition: all 0.3s linear;
  visibility: hidden;
  opacity: 0;
}


.main-navigation ul li ul {
  width: 280px;
  white-space: nowrap;
  padding: 25px 0px;
  position: absolute;
  top: calc(100% + 1px);
  left: -40px;
  z-index: 10;
  visibility: hidden;
  opacity: 0;
  -webkit-transform: translateY(30px);
  -ms-transform: translateY(30px);
  transform: translateY(30px);
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  box-sizing: border-box;
}

.main-navigation ul li ul ul {
  left: 100%;
  top: -25px;
  transition: all 0.35s ease-in-out;
  -webkit-transition: all 0.35s ease-in-out;
  -moz-transition: all 0.35s ease-in-out;
  -o-transition: all 0.35s ease-in-out;
  -ms-transition: all 0.35s ease-in-out;
}

.main-navigation ul li:hover > ul {
  visibility: visible;
  opacity: 1;
}

.main-navigation ul > li:hover > ul {
  -webkit-transform: translateY(0px);
  -ms-transform: translateY(0px);
  transform: translateY(0px);
}

/* Header Call To Action */
.btn-cta {
  display: inline-flex;
  vertical-align: middle;
  position: relative;
}

.btn-cta .cta-icons i {
  color: #1b1d21;
  text-align: center;
  display: inline-block;
  vertical-align: middle;
  min-width: 22px;
  transition: all 0.3s linear;
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  -ms-transition: all 0.3s linear;
}
.btn-cta .cta-icons i:before, .btn-cta .cta-icons i:after {
  font-size: 22px;
}
.btn-cta .cta-icons i.flaticon-close:before {
  font-size: 18px;
}
.btn-cta .cta-icons i.flaticon-shopper:before {
  font-size: 24px;
}
.btn-cta .btn-cta-group {
  margin-left: 40px;
}
.btn-cta .contact-header {
  display: flex;
  align-items: center;
  text-align: left;
  line-height: 1;
  border-left: 1px solid #dcdde1;
  padding: 5px 0 5px 40px;
}
.btn-cta .contact-header i {
  font-size: 22px;
  color: #f01216;
  margin-right: 12px;
}
.btn-cta .contact-header span {
  display: block;
  font-size: 14px;
  font-weight: 600;
  color: #6d6d6d;
}
.btn-cta .contact-header span.main-text, .btn-cta .contact-header span a {
  font-size: 16px;
  font-family: "Montserrat", sans-serif;
  color: #1b1d21;
  margin-top: 7px;
}


@-webkit-keyframes stickySlideUp {
  from {
    -webkit-transform: translateY(10%);
    transform: translateY(10%);
  }
  to {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}
@keyframes stickySlideUp {
  from {
    -webkit-transform: translateY(10%);
    transform: translateY(10%);
  }
  to {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}
@-webkit-keyframes stickySlideDown {
  from {
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%);
  }
  to {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}
@keyframes stickySlideDown {
  from {
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%);
  }
  to {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}
.is-stuck {
  -webkit-animation: stickySlideDown 0.65s cubic-bezier(0.23, 1, 0.32, 1) both;
  -moz-animation: stickySlideDown 0.65s cubic-bezier(0.23, 1, 0.32, 1) both;
  animation: stickySlideDown 0.65s cubic-bezier(0.23, 1, 0.32, 1) both;
}

.is-stuck {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  z-index: 99;
}

.admin-bar .is-stuck,
.admin-bar .header-overlay {
  top: 32px;
}

@media screen and (min-width: 1024px) {
  .header-static .is-stuck{
    background-color: #fff;
  }
  .is-stuck {
    background-color: #0E0A31;
    -webkit-box-shadow: 4px 4px 30px 0px rgba(42, 67, 113, 0.15);
    -moz-box-shadow: 4px 4px 30px 0px rgba(42, 67, 113, 0.15);
    box-shadow: 4px 4px 30px 0px rgba(42, 67, 113, 0.15);
    -webkit-backdrop-filter: blur(20px) saturate(180%);
    backdrop-filter: blur(20px) saturate(180%);
  }
  .is-stuck .main-navigation ul.menu > li > a {
    padding-top: 18px;
    padding-bottom: 18px;
  }
}
.is-stuck #site-logo {
  padding: 15px 0px 15px 0px;
}

/* Responsive */
@media (max-width: 1199px) {
  .main-navigation > ul > li {
    margin: 0 14px;
  }
}
@media (max-width: 1440px) {
  .btn-cta .btn-cta-header {
    display: none;
  }
}
@media (max-width: 1265px) {
  .btn-cta .contact-header {
    display: none;
  }
}
/*--------------------------------------------------------------
## Header Mobile
--------------------------------------------------------------*/
.header_mobile {
  display: none;
}

@media only screen and (max-width: 1024px) {
  .main-header {
    display: none;
  }

  .header-topbar {
    display: none;
  }

  .site-header {
    background: #fff;
    -webkit-box-shadow: 2px 2px 15px 0px rgba(42, 67, 113, 0.15);
    -moz-box-shadow: 2px 2px 15px 0px rgba(42, 67, 113, 0.15);
    box-shadow: 2px 2px 15px 0px rgba(42, 67, 113, 0.15);
  }

  .header_mobile {
    display: block;
    width: 100%;
    background: #fff;
  }
  .header_mobile.is-stuck {
    box-shadow: 2px 2px 15px 0px rgba(42, 67, 113, 0.15);
  }

  .header_mobile .mlogo_wrapper {
    position: relative;
    padding: 10px 0px;
  }
  .header_mobile .mlogo_wrapper img {
    height: 45px;
  }

  .header_mobile .mlogo_wrapper .mobile_logo {
    float: left;
  }

  #mmenu_toggle {
    position: absolute;
    cursor: pointer;
    width: 26px;
    height: 20px;
    right: 0px;
    margin-top: -10px;
    top: 50%;
  }

  #mmenu_toggle button {
    position: absolute;
    left: 0;
    top: 50%;
    margin: -2px 0 0;
    background: #1b1d21;
    height: 4px;
    padding: 0;
    border: none;
    width: 100%;
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    outline: none;
    border-radius: 2px;
  }

  #mmenu_toggle button:before {
    content: "";
    position: absolute;
    left: 0;
    top: -8px;
    width: 26px;
    height: 4px;
    background: #1b1d21;
    -webkit-transform-origin: 1.5px center;
    transform-origin: 1.5px center;
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    border-radius: 2px;
  }

  #mmenu_toggle button:after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -8px;
    width: 26px;
    height: 4px;
    background: #1b1d21;
    -webkit-transform-origin: 1.5px center;
    transform-origin: 1.5px center;
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    border-radius: 2px;
  }

  #mmenu_toggle.active button {
    background: none;
  }

  #mmenu_toggle.active button:before {
    top: 0;
    -webkit-transform: rotate3d(0, 0, 1, -45deg);
    transform: rotate3d(0, 0, 1, -45deg);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
  }

  #mmenu_toggle.active button:after {
    bottom: 0;
    -webkit-transform: rotate3d(0, 0, 1, 45deg);
    transform: rotate3d(0, 0, 1, 45deg);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
  }

  .header_mobile .mobile_nav {
    display: none;
    background: #fff;
  }

  .header_mobile .mobile_nav .mobile_mainmenu {
    margin: 0;
    padding: 0;
  }

  .header_mobile .mobile_nav .mobile_mainmenu ul {
    position: relative;
    margin: 0;
    padding: 0;
    margin-left: 15px;
  }

  .header_mobile .mobile_nav.collapse .mobile_mainmenu ul {
    display: none;
  }

  .header_mobile .mobile_nav .mobile_mainmenu li {
    position: relative;
    list-style: none;
  }

  .header_mobile .mobile_nav .mobile_mainmenu li a {
    padding: 9px 0;
    display: block;
    color: #1b1d21;
    font-weight: 600;
    border-bottom: 1px solid #e5e5e5;
  }

  .header_mobile .mobile_nav .mobile_mainmenu > li:last-child > a {
    border: none;
  }

  .header_mobile .mobile_nav .mobile_mainmenu li li a {
    font-size: 15px;
  }

  .header_mobile .mobile_nav .mobile_mainmenu li li a:hover,
.header_mobile .mobile_nav .mobile_mainmenu ul > li > ul > li.current-menu-ancestor > a, .header_mobile .mobile_nav ul li.current-menu-item > a  {
    color: #000;
  }

  .header_mobile .mobile_nav .mobile_mainmenu > li.menu-item-has-children .arrow {
    color: #fff;
    position: absolute;
    display: block;
    right: 0;
    top: 0;
    cursor: pointer;
    width: 50px;
    height: auto;
    padding: 9px 12px 9px 0;
    line-height: inherit;
    text-align: right;
    box-sizing: border-box;
  }

  .header_mobile .mobile_nav .mobile_mainmenu > li.menu-item-has-children .arrow i {
    color: #9397a7;
    display: inline-block;
    line-height: 1;
    -webkit-transition: transform 0.3s ease-in-out;
    -moz-transition: transform 0.3s ease-in-out;
    transition: transform 0.3s ease-in-out;
  }
  .header_mobile .mobile_nav .mobile_mainmenu > li.menu-item-has-children .arrow i:before {
    font-size: 8px;
  }

  .header_mobile .mobile_nav .mobile_mainmenu > li.menu-item-has-children .arrow.active i {
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    transform: rotate(90deg);
  }

  .header_mobile .mobile_nav .mobile_mainmenu > li > a:hover, .header_mobile .mobile_nav .mobile_mainmenu > li.current-menu-item > a,
.header_mobile .mobile_nav .mobile_mainmenu > li.current-menu-ancestor > a {
    color: #000;
  }
}
@media only screen and (max-width: 767px) {
  .header_mobile .mlogo_wrapper {
    width: 100%;
  }
}
@media only screen and (max-width: 320px) {
  .mobile_logo img {
    max-width: 230px;
    max-height: 47px;
  }
}
/*--------------------------------------------------------------
## Page Header
--------------------------------------------------------------*/
.page-header {
  width: 100%;
  min-height: 350px;
  color: #000;
  font-weight: 500;
  background: #262051 center center no-repeat;
  background-size: cover;
}
.page-header .page-title {
  color: #fff;
  margin-bottom: 0;
  flex: 1;
  padding: 10px 20px 10px 0;
}

@media (max-width: 992px) {
  .page-header .inner {
    display: block;
  }
}
@media (max-width: 767px) {
  .page-header .container {
    width: 100%;
  }
  .page-header .page-title {
    font-size: 36px;
  }
  .page-header .breadcrumbs {
    font-size: 12px;
  }
}
@media (max-width: 600px) {
  .page-header {
    min-height: 200px;
    padding: 40px 0;
  }
  .page-header .page-title {
    font-size: 30px;
  }
}
.header-fullwidth .container-fluid .cta-col {
  flex: 2;
}

@media (max-width: 1024px) {
  .header-fullwidth .area-wrap {
    width: 100%;
    padding: 0 !important;
  }

  .header-fullwidth .header-topbar .container-fluid {
    width: 970px;
    margin: 0 auto;
    padding: 0 15px;
  }
}
@media (max-width: 991px) {
  .header-fullwidth .header-topbar .container-fluid {
    width: 750px;
  }
}
@media (max-width: 767px) {
  .header-fullwidth .header-topbar .container-fluid {
    width: 100%;
  }
}

/*--------------------------------------------------------------
# Alignments
--------------------------------------------------------------*/
.alignleft {
  float: left;
  margin-right: 1.5em;
}

.alignright {
  float: right;
  margin-left: 1.5em;
}

.aligncenter {
  clear: both;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

/*--------------------------------------------------------------
# Clearings
--------------------------------------------------------------*/
.clear:before,
.clear:after,
.site-header:before,
.site-header:after,
.site-content:before,
.site-content:after,
.site-footer:before,
.site-footer:after {
  content: "";
  display: table;
  table-layout: fixed;
}

.clear:after,
.site-header:after,
.site-content:after,
.site-footer:after {
  clear: both;
}

.video-popup a span {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 1px solid rgba(255, 255, 255, 0.8);
  animation: circle-fade-before 2s infinite ease-in-out;
  -webkit-animation: circle-fade-before 2s infinite ease-in-out;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
}
.video-popup a .circle-2 {
  animation: circle-fade-after 2s infinite ease-in-out;
  -webkit-animation: circle-fade-after 2s infinite ease-in-out;
}
.video-popup > span {
  margin-left: 15px;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 800;
  color: #1b1d21;
  font-family: "Montserrat", sans-serif;
  letter-spacing: 0.5px;
}
.video-popup .btn-inner {
  display: inline-block;
  border-radius: 50%;
}

@keyframes circle-fade-before {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  100% {
    transform: scale(1.8);
    opacity: 0;
  }
}
@keyframes circle-fade-after {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  100% {
    transform: scale(2.5);
    opacity: 0;
  }
}


/* HTML padding */
.text-white span, .text-white h2 {
    color: #fff;
}
/* Background */
.bg-light-1 {
    background-color: #F8F8F8;
}
.bg-light-2 {
    background-color: #F2F2F2;
}
.bg-dark-primary {
    background-color: #221F3C;
}
.page-header {
    background-image: url(#);
}
/* Header */
.header-fullwidth .area-wrap {
    padding-left: 50px;
    padding-right: 50px;
}
.topbar-right ul{
    display: inline-block;
    padding-left: 0;
    list-style: none;
    margin: 0;
    margin-left: 21px;
}
.topbar-right .extra-text {
    color: #fff;
    font-size: 14px;
    font-weight: 400;
}
.btn-slider {
    line-height: 18px;
    border: none;
}
.home-about-btn {
    margin-left: 100px;
}
.home-about-video {
    background-image: url(#);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    min-height: 400px;
    margin-bottom: 45px;
    box-shadow: 3px 3px 30px 0px rgba(0, 0, 0, 0.3);
}
.btn-play {
    position: relative;
    width: 65px;
    height: 65px;
    display: inline-block;
    background: #000;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    text-align: center;
    line-height: 68px;
    font-size: 19px;
    color: #fff;
}
.btn-play i {
    margin-left: 7%;
}
.btn-play:hover {
    background: #fff;
    color: #000;
}
.video-btn a span {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 1px solid rgba(255, 255, 255, 0.8);
    animation: circle-fade-before 2s infinite ease-in-out;
    -webkit-animation: circle-fade-before 2s infinite ease-in-out;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-color: #000;
}
.video-btn a .circle-2 {
    animation: circle-fade-after 2s infinite ease-in-out;
    -webkit-animation: circle-fade-after 2s infinite ease-in-out;
}
.video-btn a:hover span {
    border-color: #fff;
}
.img-small {
    position: absolute;
    right: -25%;
    bottom: 0;
    z-index: -1;
}
.img-small .img-small-1 {
    position: absolute;
    top: -150px;
    left: 70%;
}

.btn-large {
    padding: 20px 35px;
}
.icon-box-s2:hover .icon-main {
    color: #000;
}

.home-top {
    background-image: url(images/header-background.png);
    background-position: 0px 60px;
    background-repeat: no-repeat;
    padding: 85px 0px 88px 0px;
}
.home-top-right {
    margin-left: 60px;
}
.home-top-right .small-text{
    font-family: "Nunito Sans", Sans-serif;
    font-size: 24px;
    font-weight: 400;
    line-height: 1.4em;
    margin-bottom: 13px;
    color: #1b1d21;
}
.home-top-right h2{
    font-size: 72px;
    font-weight: 900;
    line-height: 80px;
    margin-bottom: 5px;
    color: #1b1d21;
    font-family: "Montserrat", sans-serif;
    overflow-wrap: normal;
}
.home-top-right .sub-text {
    margin-bottom: 5px;
    line-height: 1.86;
}
.video-popup.style a {
    background-color: #f01216;
    color: #fff;
}
.video-popup.style a:hover {
    background-color: #333;
}
.style .circle-1, .style .circle-2 {
    border-color: #f01216;
}

.section-inner-about {
    padding-top: 5px;
}
.section-inner-about .right-content {
    margin-left: 60px;
}
.section-inner-about .left-img {
    margin: 0px -30px 0px -350px;
}

.section-consultation {
    background-image: url(images/contact.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}
.section-consultation p {
    color: #FFF;
    font-family: "Nunito Sans",Sans-serif;
    font-size: 24px;
    font-weight: 400;
    line-height: 1.4em;
    margin-bottom: 15px;
}
.section-consultation h2 {
    color: #FFF;
    font-size: 72px;
    font-weight: 900;
    line-height: 80px;
    margin-bottom: 38px;
}

/* Contact */
.contact-left {
    margin-right: 95px;
}
.map {
    height: 500px;
    filter: brightness(100%) contrast(100%) saturate(0%) blur(0) hue-rotate(0deg);
}
.map iframe {
    width: 100%;
    border: none;
}

/* Footer */

.footer {
    background-color: #333;
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 17px 0 7px 0;
}
.copyright-text {
    color: #fff;
    font-size: 16px;
    font-weight: bold;
}

/* HTML */
@media (min-width: 1200px) {
  .container {
      max-width: 1200px;
  }
}
section {
    padding-top: 120px;
    padding-bottom: 130px;
    position: relative;
}

/* Back To Top*/
#back-to-top {
  background: #000;
  color: #fff;
  border: 0 none;
  border-radius: 2px;
  cursor: pointer;
  width: 42px;
  height: 45px;
  line-height: 45px;
  opacity: 0;
  outline: medium none;
  position: fixed;
  right: 40px;
  bottom: -20px;
  text-align: center;
  text-decoration: none;
  transition: opacity 0.2s ease-out 0s;
  z-index: 1000;
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  box-shadow: 6px 6px 13px 0px rgba(42, 67, 113, 0.2);
  -webkit-box-shadow: 6px 6px 13px 0px rgba(42, 67, 113, 0.2);
  -moz-box-shadow: 6px 6px 13px 0px rgba(42, 67, 113, 0.2);
}
#back-to-top.show {
  opacity: 1;
  bottom: 40px;
}
#back-to-top i:after, #back-to-top i:before {
  font-size: 17px;
}
#back-to-top:hover {
  bottom: 45px;
  background: #f01216;
}


/*--------------------------------------------------------------
# Responsive
--------------------------------------------------------------*/
@media (min-width: 992px) {
  .lg-hidden {
    display: none;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .md-hidden {
    display: none;
  }
}
@media (min-width: 480px) and (max-width: 767px) {
  .sm-hidden {
    display: none;
  }
}
